<!DOCTYPE HTML>
<html lang="en-US" style="overflow-y: scroll;">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="Original Hover Effects with CSS3"/>
<meta name="keywords" content="css3, transitions, thumbnail, animation, hover, effect, description, caption"/>
<meta name="author" content="Alessio Atzeni for Codrops"/>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Role Management</title>
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
<link rel="stylesheet" href="css/bootstrap.css"/>
<link rel="stylesheet" href="css/dataTables.bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="css/style.css"/>
</head>
<body>
	<header class="header">
		<div class="header-top">
			<div class="container-fluid">
				<div class="row">
					<div class="col-sm-6">
						<div class="admin-logo">
							<div class="logo-bg pull-left">
								<img src="images/logo1.png" alt="Admin" />
							</div>
							<p><span>Hello Admin</span> <span>20/02/2017</span><span>10:23 PM</span></p>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="top-right">
							<select>
								<option>Select Language</option>
								<option>English-(US)</option>
								<option>Hindi-(India)</option>
							</select>
							<ul class="top-menu">
								<li><a href="#"><i class="fa fa-home" aria-hidden="true"></i></a></li>
								<li><a href="#">NDNC</a></li>
								<li><a href="#">Developer API</a></li>
								<li><a href="#">Logout</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="main-content">
			<div class="container">
				<div class="row">
					<div class="col-sm-3">
						<nav class="sidebar">
							
							<ul class="sidebar-menu">
								<li><a href="#">Rapid Message</a></li>
								<li>
									<ul class="side-submenu">
										<li><a href="#">Compose Message</a></li>
										<li><a href="#">Upload Bulk SMS</a></li>
									</ul>
								</li>
								<li><a href="#">Smart Reports</a></li>
								<li>
									<ul class="side-submenu">
										<li><a href="#">Sent SMS</a></li>
										<li><a href="#">Scheduled Messages</a></li>
										<li><a href="#">Cancel Scheduled SMS</a></li>
										<li><a href="#">MIS Reports</a></li>
										<li><a href="#">DLR Reports</a></li>
										<li><a href="#">Route Status</a></li>
									</ul>
								</li>
								<li><a href="#">Contact Book</a></li>
								<li>
									<ul class="side-submenu">
										<li><a href="#">Create Group</a></li>
										<li><a href="#">Create Contacts</a></li>
										<li><a href="#">Import Contacts</a></li>
									</ul>
								</li>
								<li><a href="#">Templates</a></li>
								<li>
									<ul class="side-submenu">
										<li><a href="#">Create Template</a></li>
										<li><a href="#">Approve Template</a></li>
										<li><a href="#">View Template</a></li>
									</ul>
								</li>
								<li><a href="#">My Purchase</a></li>
								<li>
									<ul class="side-submenu">
										<li><a href="#">Purchase Credit</a></li>
										<li><a href="#">Sold Credit</a></li>
									</ul>
								</li>
								<li><a href="#">Accounts</a></li>
								<li>
									<ul class="side-submenu">
										<li><a href="#">Update Profile</a></li>
										<li><a href="#">Change Password</a></li>
										<li><a href="#">Manage Sender Id</a></li>
										<li><a href="#">Upload Logo</a></li>
									</ul>
								</li>
								<li><a href="#">Reach Us</a></li>
								<li>
									<ul class="side-submenu">
										<li><a href="#">Contact Us</a></li>
									</ul>
								</li>
							</ul>
						
						</nav>
					</div>
					<div class="col-sm-9">
						<main>
							<div class="table-details new-user authority">
						  		<h4>Authority To Usertype</h4>
						  		<form class="add-user-form">
						  			<div class="form-group">
						  				<strong>Select Usertype</strong>
						  				<select class="form-control disinlineb">
						  					<option>Select Role</option>
						  					<option>Role Management</option>
						  				</select>
						  			</div>
						  			<div class="checkboxs-form">
						  				<p>Notice: Undefined Variable: e-msg in path on line 120</p>
						  				<ul class="checkbox-list">
						  					<li><input type="checkbox" name=""> Admin Panel</li>
						  					<li><input type="checkbox" name=""> Rapid Message</li>
						  					<li>
						  						<ul>
						  							<li><input type="checkbox" name=""> Compose Message</li>
						  							<li><input type="checkbox" name=""> Upload Bulk SMS</li>
						  						</ul>
						  					</li>
						  					<li><input type="checkbox" name=""> Smart Reports</li>
						  					<li>
						  						<ul>
						  							<li><input type="checkbox" name=""> Sent SMS</li>
						  							<li><input type="checkbox" name=""> Scheduled Message</li>
						  							<li><input type="checkbox" name="">Cancel Scheduled SMS</li>
						  							<li><input type="checkbox" name=""> MIS Reports</li>
						  							<li><input type="checkbox" name=""> DLR Reports</li>
						  							<li><input type="checkbox" name=""> Route Status</li>
						  						</ul>
						  					</li>
						  					<li><input type="checkbox" name=""> Contact Book</li>
						  					<li>
						  						<ul>
						  							<li><input type="checkbox" name=""> Create Group</li>
						  							<li><input type="checkbox" name=""> Create Contacts</li>
						  							<li><input type="checkbox" name="">Imports Contacts</li>
						  						</ul>
						  					</li>
						  					<li><input type="checkbox" name=""> Templates</li>
						  					<li>
						  						<ul>
						  							<li><input type="checkbox" name=""> Create Template</li>
						  							<li><input type="checkbox" name=""> Approve Template</li>
						  							<li><input type="checkbox" name="">View Template</li>
						  						</ul>
						  					</li>
						  					<li><input type="checkbox" name=""> My Purchase</li>
						  					<li>
						  						<ul>
						  							<li><input type="checkbox" name=""> Purchased Credit</li>
						  							<li><input type="checkbox" name=""> Sold Credit</li>
						  						</ul>
						  					</li>
						  					<li><input type="checkbox" name=""> Accounts</li>
						  					<li>
						  						<ul>
						  							<li><input type="checkbox" name=""> Proxy</li>
						  							<li><input type="checkbox" name=""> Reverse SMS</li>
						  							<li><input type="checkbox" name=""> Black List</li>
						  							<li><input type="checkbox" name=""> Black Contain List</li>
						  							<li><input type="checkbox" name=""> Password Request</li>
						  						</ul>
						  					</li>
						  					<li><input type="checkbox" name=""> Website Branding</li>
						  					<li>
						  						<ul>
						  							<li><input type="checkbox" name=""> Daily SMS Allocations</li>
						  							<li><input type="checkbox" name=""> Set Notice</li>
						  							<li><input type="checkbox" name=""> My Profile</li>
						  							<li><input type="checkbox" name=""> Daily Credit Back Entries</li>
						  							<li><input type="checkbox" name=""> Discount SMS Summary</li>
						  							<li><input type="checkbox" name=""> Developer API</li>
						  						</ul>
						  					</li>
						  					<li><input type="checkbox" name=""> Miscellaneous Managemant</li>
						  					<li>
						  						<ul>
						  							<li><input type="checkbox" name=""> SIM-DND Queue</li>
						  							<li><input type="checkbox" name=""> SIM-Non-DND Queue</li>
						  							<li><input type="checkbox" name=""> Trans Queue</li>
						  							<li><input type="checkbox" name=""> Smpp Queue</li>
						  							<li><input type="checkbox" name=""> Prop/Non-Prop Queue</li>
						  							<li><input type="checkbox" name=""> Download DND File</li>
						  						</ul>
						  					</li>
						  					<li><input type="checkbox" name=""> Job Priority Authentication</li>
						  					<li>
						  						<ul>
						  							<li><input type="checkbox" name=""> Change Modem</li>
						  							<li><input type="checkbox" name=""> Modem System Info</li>
						  							<li><input type="checkbox" name=""> SMPP System Info</li>
						  							<li><input type="checkbox" name=""> Change Queue</li>
						  						</ul>
						  					</li>
						  				</ul>
						  				<div class="update-btn">
						  					<button class="btn btn-default" type="submit">UPDATE ROLE</button>
						  				</div>
						  			</div>

						  		</form>
						  	</div>
							<!-- <div class="footer">
								
							</div> -->
						</main>
					</div>
				</div>
			</div>
		</div>
	</header>

<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.dataTables.min.js"></script>
<script src="js/custom.js"></script>
</body>
</html>